.banner-main{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center top;
    background-attachment: fixed;
    background-size: cover;
}

.banner-content{
    display: table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
    vertical-align: middle;
    position: relative;
    z-index: 10;
}

.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: #111;
}

.banner-content h1{
    line-height: 1.071;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: none;
    font-weight: 800;
    font-size: 3rem;
}

.banner-content h5{
    font-size: 2rem;
    line-height: 1.565;
    margin-bottom: 0;
}

.banner-content .subtext{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.social-link a {
    line-height: 33px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    text-align: center;
    color: #737373;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    color: #fff;
}

.social-link a:hover {
    color: #fff;
    border-color: #000;
    background: #000;
}

footer .social-link a{
    color: #666
}

header nav.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

header nav.navbar.navbar-expanded{
    padding: 30px 0;
    opacity: 0;
}

.section-title {
    display: block;
    margin-bottom: 100px;
}

.section-title .title{
    font-family: "OpenSans Bold";
    font-size: 36px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 800;
}

.about-info .media{
    display: table-cell;
    padding-right: 50px;
}

.about-info .content{
    display: table-cell;
    vertical-align: top;
}

.about-thumb img{
    float: left;
    width: 10rem;
    height: 10rem;
    margin: 0;
    border-radius: 50%;
}

.mild-progress-style {
    position: relative;
    height: 8px;
    margin-top: 60px;
    border-radius: 0;
    background: #e4e4e4;
    box-shadow: none;
}

.mild-progress-style.progress {
    overflow: visible;
}

.mild-progress-style .progress-bar {
    font-size: 11px;
    line-height: 30px;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    text-align: left;
    letter-spacing: 1px;
    color: #222;
    background-color: #222;
    box-shadow: none;
}

.mild-progress-style .progress-bar .skills-info {
    font-size: 14px;
    position: relative;
    top: -26px;
}

.mild-progress-style .progress-bar span {
    font-size: 9px;
    line-height: normal;
    position: relative;
    bottom: 0;
    float: right;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    background: #333;
}

.mild-progress-style .progress-bar span:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    content: '';
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.clients-logo {
    display: table;
    width: 100%;
}
.client-item {
    display: table-cell;
    box-sizing: border-box;
    width: 200px;
    height: 85px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.client-item img {
    max-width: 100%;
}
.client-item:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.large-header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
    .about-info .media{
        display: flex;
        justify-content: center;
        padding: 15px 0 35px;
    }
    header nav.navbar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner-content h5{
        font-size: 1.5rem;
    }
    .banner-content h1{
        font-size: 2rem;
    }
    .navbar-nav .nav-item {
        border-bottom: 1px solid #ccc;
    }
    .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-nav .nav-item.active::before, .navbar-nav .nav-item:hover::before{
        opacity: 0;
    }
    .large-header{
        display: none;
    }
    .portfolio{
        margin-bottom: 15px;
    }
    .portfolio .label {
        bottom: 0 !important;
    }
    .portfolio .label-bg {
        background: #82b440d9 !important;
    }
    .portfolio .label-text a {
        font-size: 17px !important;
        font-weight: 500 !important;
        margin-top: 10px !important;
    }
}
